:root {
  --background-color: #fff;
  --text-color: #000;
  --header-color: #E6E6E6; 
  --header-color-shade:  #A8C9C6; 
  --header-color-light-yellow: #FFFFE0; 
  --header-color-light-orange:#FFEEDB; 
}

[data-theme='dark'] {
  --background-color: #000;
  --text-color: #fff;
  --header-color: yellow;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0px;
  margin: 0px;
}
